@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Oswald:wght@700&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #0d0d14;
}

header {
    position: relative;
}

/* Navbar */
.navbar {
    background-color: #dd0000;
    height: 60px;
}

.ChoosenExercise {
    background: url("../Assets/Media/Abs/man_abs.jpg");
    background-size:cover;
    margin: auto;
    margin-top: 70px;
    height: 300px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exercise .Start-btn, .Finish-btn {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exercise .btn-start{
    margin: auto;
    width: 20%;
    box-shadow: 5px 5px;
    transition: 0.2s;
    background-color: #dd0000;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    &:active {
        box-shadow: 0px 0px;
    }

    &:hover {
        background-color: #5d0000;
    }
}

#exercise .btn-finish{
    margin: auto;
    width: 20%;
    box-shadow: 5px 5px;
    transition: 0.2s;
    background-color: #dd0000;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    &:active {
        box-shadow: 0px 0px;
    }

    &:hover {
        background-color: #5d0000;
    }
}

#exercise .container {
    margin-bottom: 20px;
}

.exerciseStep {
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 10px;
    max-width: 100%;
}

.step {
    border: 1px solid #5d0000;
    border-radius: 20px;
    background-color: #5d0000;
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 25px;
    padding: 10px;
}

.step p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.step2 {
    border: 1px solid white;
    display: flex;
    width: 30%;
}

.step2 p {
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}